<h1>Where would you like to go?</h1>
  <p>listing/index</p>




 <button id ='city'> CITY </button>
<button id = 'room_type'> Room Type </button>

<div>
	<%= form_tag ('/listings/search'), {method: :get} do %>
	city  <%= text_field_tag :city %>
	  <%= submit_tag "Search"  %>
	<% end %> 
</div>


<div>
	<%= form_tag ('/listings/search'), {method: :get} do %>
	 room type <%= text_field_tag :room_type %>
	  <%= submit_tag "Search"  %>
	<% end %> 
</div>

<div>
	<%= form_tag ('/listings/search'), {method: :get} do %>
	 check-in <%= text_field_tag :check_in %>
	 check-out <%= text_field_tag :check_out %>
	  <%= submit_tag "Search"  %>
	<% end %> 
</div>






<!-- list all -->
<div>
<% @listings.each do |l| %>
<h3><%= l.location %></h3>
<p><%= l.room_type %></p>
<p>Price per night: USD$<%= l.price_per_night %></p>
<p><%= link_to "make a reservation" , new_listing_reservation_path(l.id) %></p>
<% end %>
</div>



<%= button_to 'Go to previous page', listings_path, method: :get, params: { page: @page.to_i - 1} %>
<%= button_to 'Go to next page', listings_path, method: :get, params: { page: @page.to_i + 1} %>


