<h1>Where would you like to go?</h1>
  <p>listing/index</p>



<div>
<%= form_tag :listings, url:{action: "search"} do  %>
  <%= text_field_tag :starts_with %>
  <%= submit_tag %>
<% end %> 
</div>


<!-- list all -->
<div>
<% @listings.each do |l| %>
<h3><%= l.location %></h3>
<p><%= l.room_type %></p>
<p>Price per night: USD$<%= l.price_per_night %></p>
<p><%= link_to "make a reservation" , new_listing_reservation_path(l.id) %></p>
<% end %>
</div>








<%= button_to 'Go to previous page', listings_path, method: :get, params: { page: @page.to_i - 1} %>
<%= button_to 'Go to next page', listings_path, method: :get, params: { page: @page.to_i + 1} %>


if click on go to next page, then params increases by 1, offset increases by

<!-- n =    ()

pg1  offset (0)
pg2  offset (5)
pg3  offset(10)
pg4  offset(15)

n * 5 - 5 = Listing.all
offset(n* 5 -5 ) == Listing.all

20


n    offset (n*5 - 5) -->
