<!-- <#%= link_to "Sign in with Facebook", "/auth/facebook" %> -->

<br>
<hr>

<div class = "col-md-12"></div>

<div class = "col-md-3"></div>

<div class = "col-md-6 center1 container" >
  <div id="clearance" class="sign-up">
    <h2><%= t(".title") %></h2>
      <hr>

    <%= form_for @user do |form| %>
          <div class="text-field sgnupbox">
            <% form.label :email %>
            <%= form.text_field :email, type: 'email', placeholder: 'email' %>
          </div>

          <div class="text-field sgnupbox">
            <% form.label :name %>
            <%= form.text_field :name, type:'text', placeholder: 'name'  %>
          </div>

          <div class="password-field sgnupbox">
            <% form.label :password %>
            <%= form.password_field :password , placeholder: 'password'  %>
          </div>
          
          <hr>
      <div class="submit-field sgnupbox">
        <%= form.submit %>
      </div>
          
      <div class="other-links">
        <% link_to t(".sign_in"), sign_in_path %>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>




