
<div class = "text_center center">

	<strong><h1 class = 'text_center'> upcoming reservations at your place </h1></strong>

	Q2. <p>.check_in and [0] do not work</p> 

	<% current_user.listings.each do |listing| %> 
		<%= Reservation.find_by(listing_id: listing.id).check_in if Reservation.find_by(listing_id: listing.id)%>  
		
	<% end %> 

</div>



<h2 class = 'text_center'>Your Home</h2>

	<% current_user.listings.each do |x| %>
		<div class = 'col-md-6 text_center'>
			<p class ="inline"><strong>USD$<%= x.price_per_night %></strong></p>
		    <p class ="inline"> | <%= x.location %></p>
		    <p class = "fontgrey"><%= x.room_type %></p>
			<p> Update your listing? <%= link_to "listing" + x.id.to_s , edit_listing_path(x.id) %><br></p>
				<% x.avatars.each_with_index do |image, i| %>
				<%= image_tag image.url(:medium) if i == 0 %>
				<% end %>
		</div>
	<% end %>

